$color-primary: #77c9d4;
$color-secondary: #57bc90;
$color-tertiary: #015249;
$color-grey: #a5a5af;
$color-error: #8e1111;

$navbar-height: 100px;

//BREAKPOINTS
$break-small: 600px;
$break-medium: 920px;
$break-large: 1400px;
