@import "../../sass/variables";

.MovieCard {
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 20px;
  box-shadow: 0 3px 10px $color-grey;
  min-height: 200px;
  padding: 10px;
  width: 300px;
  text-align: center;
  vertical-align: top;

  &__title {
    color: darken($color-grey, 30);
    margin: 20px 0;
  }

  &__image {
    width: 100%;
  }

  @media screen and (max-width: $break-small) {
    width: 100%;
  }

  @media screen and (min-width: $break-small) and (max-width: $break-medium) {
    width: calc(50% - 40px);
  }

  @media screen and (min-width: $break-medium) and (max-width: $break-large) {
    width: calc(33% - 60px);
  }

  @media screen and (min-width: $break-large) {
    width: calc(25% - 80px);
  }
}
