@import "../../sass/variables";
@import "../../sass/mixins";

.Home {
  min-height: calc(100vh - #{$navbar-height});
  padding: 30px;
  max-width: 1600px;
  margin: 0 auto;
  text-align: center;
  position: relative;

  &__heading {
    color: $color-grey;
    font-weight: 300;
    margin-bottom: 20px;
    text-align: left;
  }
}
